<!-- <button [routerLink]="['']">form</button> -->
<div style="display: flex;flex-flow: column;flex: 1;justify-content: space-between;height: 100%;">
<div class="toolbar">    
        <img src="assets/images/logoTUH.png" alt="" style="max-width: 5.5vw;max-height: 5.5vw">
        <p class="tu_hospital">โรงพยาบาลธรรมศาสตร์เฉลิมพระเกียรติ</p>
</div>
<div class="header_fontsize main_container">
        <div style="display: flex;flex: 1">
                <div style="flex: 3;display: flex;justify-content: center">
                        <b style="color: black"> คลินิก</b>
                 </div>
                <div style="flex: 0 0 65%;display: flex;justify-content: flex-end;padding-right: 20px">
                        <b style="color: black"> รอประมาณ (นาที)</b>
                </div>
                <div style="flex: 1;display: flex;justify-content: center">
                        <b style="color: black"> คิวรอตรวจ</b>
                 </div>
        </div>
        <div style="display: flex;flex: 1">
                <div style="flex: 3;display: flex;justify-content: center">
                        <b style="color: black"> คลินิก</b>
                 </div>
                 <div style="flex:  0 0 65%;display: flex;justify-content: flex-end;padding-right: 20px">
                        <b style="color: black"> รอประมาณ (นาที)</b>
                </div>
                <div style="flex: 1;display: flex;justify-content: center">
                        <b style="color: black"> คิวรอตรวจ  </b>
                </div>
        </div>
</div>
<!-- class="container_tu" -->
<div class="container_tu"  style="margin-bottom: auto">        
        <div *ngFor="let item of queues" class="container_child">
        <app-flag       [nameClinic]="item?.name" 
                        [nameClinicEng]="item?.nameEn"
                        [moreMargin]="false"
                        [totleQueue]="item?.queue" 
                        [statusQueue]="'รอคิวนาน'"
                        [image]="item?.code"
                        [timeToWait]="item?.waittime"
                        [color]="'red'">
        </app-flag>
        </div>        
        <!-- <div class="container_child">
                <div class="container_self" *ngIf="isSHowFirstGroup">
                <app-flag [nameClinic]="medicineOne?.name" 
                          [nameClinicEng]="medicineOne?.nameEn"
                          [moreMargin]="false"
                          [totleQueue]="medicineOne?.queue" 
                          [statusQueue]="'รอคิวนาน'"
                          [image]="medicineOne?.code"
                          [timeToWait]="medicineOne?.waittime"
                          [color]="'red'">
                </app-flag>
                </div>
                <div class="container_self" *ngIf="isSHowFirstGroup">
                        <app-flag [nameClinic]="surgery?.name"
                                [nameClinicEng]="surgery?.nameEn"
                                [totleQueue]="surgery?.queue" 
                                [statusQueue]="'รอคิวนาน'"
                                [image]="surgery?.code"
                                [timeToWait]="surgery?.waittime"
                                [color]="'red'">
                        </app-flag>
                </div>
                <div class="container_self" *ngIf="isSHowFirstGroup">
                        <app-flag [nameClinic]="women?.name" 
                                [nameClinicEng]="women?.nameEn"
                                [totleQueue]="women?.queue" 
                                [statusQueue]="'รอคิวนาน'"
                                [image]="women?.code"
                                [timeToWait]="women?.waittime"
                                [color]="'red'">
                        </app-flag>
                </div>                
                <div class="container_self" *ngIf="isSHowFirstGroup">
                        <app-flag [nameClinic]="baby?.name"
                                  [nameClinicEng]="baby?.nameEn" 
                                  [totleQueue]="baby?.queue" 
                                  [statusQueue]="'รอคิวนาน'"
                                  [image]="baby?.code"
                                  [timeToWait]="baby?.waittime"
                                  [color]="'#ffcb16'">
                        </app-flag>
                </div>                
                <div class="container_self" *ngIf="!isSHowFirstGroup">
                        <app-flag [nameClinic]="this.ear_nose_and_throat?.name"
                                  [nameClinicEng]="this.ear_nose_and_throat?.nameEn" 
                                  [totleQueue]="this.ear_nose_and_throat?.queue" 
                                  [statusQueue]="'รอคิวนาน'"
                                  [image]="this.ear_nose_and_throat?.code"
                                  [timeToWait]="this.ear_nose_and_throat?.waittime"
                                  [color]="'#ffcb16'">
                        </app-flag>
                </div>                
        </div>
        <div class="container_child">
                <div class="container_self" *ngIf="isSHowFirstGroup">
                        <app-flag [nameClinic]="eye?.name" 
                                  [nameClinicEng]="eye?.nameEn" 
                                  [moreMargin]="false"
                                  [totleQueue]="eye?.queue" 
                                  [statusQueue]="'รอคิวนาน'"
                                  [image]="eye?.code"
                                  [timeToWait]="eye?.waittime"
                                  [color]="'red'">
                        </app-flag>
                        </div>
                        <div class="container_self" *ngIf="isSHowFirstGroup">        
                                <app-flag [nameClinic]="skeleton?.name" 
                                        [nameClinicEng]="skeleton?.nameEn" 
                                        [totleQueue]="skeleton?.queue" 
                                        [statusQueue]="'รอไม่นาน'"
                                        [image]="skeleton?.code"
                                        [timeToWait]="skeleton?.waittime"
                                        [color]="'#ffcb16'">
                                </app-flag>
                        </div>
                        <div class="container_self" *ngIf="isSHowFirstGroup">
                                <app-flag [nameClinic]=" generalAndFamily?.name " 
                                        [nameClinicEng]="generalAndFamily?.nameEn" 
                                        [totleQueue]="generalAndFamily?.queue" 
                                        [statusQueue]="'รอไม่นาน'"
                                        [image]="generalAndFamily?.code"
                                        [timeToWait]="generalAndFamily?.waittime"
                                        [color]="'#ffcb16'">
                                </app-flag>
                        </div>
                        <div class="container_self" *ngIf="isSHowFirstGroup">
                                <app-flag [nameClinic]="medicineTwo?.name"
                                        [nameClinicEng]="medicineTwo?.nameEn"  
                                        [totleQueue]="medicineTwo?.queue" 
                                        [statusQueue]="'รอคิวนาน'"
                                        [image]="medicineTwo?.code"
                                        [timeToWait]="medicineTwo?.waittime"
                                        [color]="'red'">
                                </app-flag>
                        </div>
                        <div class="container_self" *ngIf="!isSHowFirstGroup">
                                <app-flag [nameClinic]="surgeryTwo?.name"
                                          [nameClinicEng]="surgeryTwo?.nameEn" 
                                          [totleQueue]="surgeryTwo?.queue" 
                                          [statusQueue]="'รอคิวนาน'"
                                          [image]="surgeryTwo?.code"
                                          [timeToWait]="surgeryTwo?.waittime"
                                          [color]="'#ffcb16'">
                                </app-flag>
                        </div>                
        </div> -->
</div>
<div class="footer_tu">
        <flag-footer 
        [type]="'จำนวนผู้รับบริการ:'"
        [detail]="summary?.total"
        [color]="'#ffc4ff'">
        </flag-footer>
        <flag-footer 
        [type]="'จำนวนผู้รับบริการแล้ว:'"
        [detail]="summary?.finish"
        [color]="'#b7ffb0'"
        >
        </flag-footer>
</div>
</div>