.toolbar {
    width: 100%;
    height: 6vw;
    background-color:#ffffff;
    /* position: absolute; */
    display:  flex;
    flex-flow: row nowrap;
    padding: .25vw;
    line-height: 6vw;

}
.tu_hospital {
    margin-left: 2vw;
    font-size: 2.5vw;    
}
.main_container {
    display: flex;
    /* flex-flow: column; */
    padding-top: 10px
}
.container_tu{    
    height: 100%;
    background-color: #aaaaaa;
    /* background-image: linear-gradient(to right bottom,#6F2F83,black);    
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-color: #efefef; */
    /* padding: 10px; */
    display: flex;    
    flex-flow: row wrap;
    align-items: flex-start
    
}
.container_child {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: #aaaaaa;
    width: 50%
}

.container_self {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}
.footer_tu {
    width: 100%;    
    background-color: #efefef;
    /* text-align: center; */
    display:  flex;
    flex-flow: row;
    height: 12vw;
    /* padding: 5px; */
}
.header_fontsize {
    font-size: 1.5vw;
}
/* .header_fontsize {
    font-size: 4vw;
} */
/* @media only screen and (max-width:880px) {
    .container_tu {
        flex-flow: column 
    }
    .container_child {
        width: 100%
    }
} */
/* @media only screen and (min-width:1500px) {
    
    .header_fontsize {
        font-size: 4vw;
    }
} */


