
.flag_container {
    width: 100%;
    flex: 1;
    height: 100%;
    /* flex-shrink: 0 */
    /* height: 100px; */
}

.container_quere {
    flex: 0 0 15%;
    max-width: 100%;
    /* padding: 5px; */
    border-radius: 11px;
    box-shadow:  0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

p {
    color: black
}
.red {
    background-color: var(--color-hospital-orange);
}
.yellow {
    background-color: yellow
}
.green {
    background-color: var(--color-hospital-green);
}

.detail_clinic {
    padding: 10px;
    flex: 0 0 85%;
    background-color: white;
    box-shadow:  0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.clinic_name {
    font-size: 2vw;
    align-self: center;
    justify-content: center;
    margin-right: auto;
    margin-left: .1vw
}
.fontsize_clinic_name{
    font-size: 2vw
}
.fontsize_clinic_name_en{
    font-size: 1.25vw
}

.fontsize_waittime {
    color: #107ed1;
    font-size: 3.2vw
}
.fontaize_waituqueue {
    color: black;
    font-size: 3.2vw;
}

/* @media only screen and (min-width:1500px) {
    .fontsize_clinic_name {
        font-size: 2vw
    }   
    .fontsize_clinic_name_en {
        font-size: 1vw
    }   
    .fontsize_waittime{
        font-size: 3.2vw
    }
    .fontaize_waituqueue{
        font-size: 3.2vw
    } */
