<!-- <div class="flex_row flag_container">
  <div class="border_radius" [ngClass]="dynamicClass()" 
      style="display: flex;flex-flow: row;justify-content: space-between;padding: 10px;width: 100%;box-shadow:  0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);">
      <div class="flex_col_center">
        <p style="font-size: 20px"><b>{{nameClinic}}</b></p> 
        
      </div>
    
      <div style="display: flex;flex-flow: column;align-items: flex-end;justify-content: space-between">
        <p style="font-size: 20px">{{totleQueue}} คิว </p>
        <p style="font-size: 20px">รอประมาณ {{timeToWait}} นาที</p>
      </div>
  </div>
</div> -->

<div class="flex_row flag_container">
  <div class="flex_row border_radius detail_clinic" >
    <img [src]="'assets/images/' + image + '.svg'" style="width: 2vw;max-height: 100%;justify-content: space-around">
    <div style="margin-left: 1vw; margin-right: auto;display: flex;flex-flow: column;justify-content: center">
        <p class="clinic_name"> <b class="fontsize_clinic_name">{{nameClinic}}</b></p> 
        <p class="clinic_name">
          <font style="visibility: hidden"></font>
          <b class="fontsize_clinic_name_en">{{nameClinicEng}}</b>
        </p> 
    </div>
      <div class="flex_row">                    
          <div  class="flex_col_center" style="width: 100%;padding: 0.3vw">
              <p [@flip]="flipState ? 'front':'back'" class="fontsize_waittime">{{timeToWait}}</p>
          </div>
      </div>
  </div>
  <div class="flex_col_center_center container_quere" [ngClass]="dynamicClass()">
    <p [@flip]="flipState ? 'front':'back'" class="fontaize_waituqueue"><b>{{totleQueue}}</b></p>
  </div>
</div>