<div class="flex_row flag_container">
  <div class="flex_row border_radius detail_clinic_footer" [ngStyle]="{'background-color': color}">
      <font style="font-size: 2vw;color: black"> <b> &nbsp;&nbsp;{{type}}</b></font> 
      <font style="color: black;font-size: 2.5vw"> <b>&nbsp;&nbsp;{{detail | number: '2.'}}</b></font>
      <font style="font-size: 2vw;color: black"> <b> &nbsp;&nbsp;คน</b></font> 
  </div>
</div>