.detail_clinic_footer {
    padding: 10px;
    flex: 0 0 100%;
    background-color: white;
    display: inline;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    box-shadow:  0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.flag_container {
    width: 100%;
    flex: 1;
    height: 100%;
    
    /* height: 100px; */
}

.green {
    background-color: var(--color-hospital-green);
}

.detail_clinic {
    padding: 10px;
    flex: 0 0 85%;
    background-color: white;
    box-shadow:  0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.clinic_name {
    font-size: 20px;
    align-self: center;
    justify-content: center;
    margin-right: auto;
    margin-left: 10px
}