html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #efefef;
}

:root{
    --color-hospital-orange: #ff9800;
    --color-hospital-green: #60ad5e;

}

p{
    margin-block-start: 0px;
    margin-block-end:0px;
}
svg {
    width:100%;
    height: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;    
}
input.input{
    padding: 0px
}
/* layout */
.flex_col {
    display: flex;
    flex-flow: column;
}

.flex_col_center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.flex_col_center_center {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center
}
.flex_row {
    display:  flex;
    flex-flow: row;    
}
.flex_row_space_around {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between
}

.flex_row_warp {
    display: flex;
    flex-flow: row wrap;
}
/* layout */
/* angle */
.border_radius {
    border-radius: 11px
}
/* angle */

/* utility */
.width {
    width: 80%
}
/* utility */