<form [formGroup]="searchForm" style="padding: 10px">
    <p>รายงานรับจริง งบประมาณ {{searchForm.get('year').value}}</p>
    <input style="width: 10%" class="input" type="text" formControlName="year">
</form>
<form [formGroup]="form">
<table style="width: 100%">
    <thead>
      <tr class="border">
        <td rowspan="2" colspan="3" class="header_table center " height="100" width="100" valign="top">
          <p>รายการ</p>
          <br>
          <p>(1)</p>
        </td>
        <td colspan="4" class="center header_table" valign="top">งบประมาณ</td>
        <td colspan="6" class="center header_table" valign="top">รายได้รับจริง</td>
      </tr>
      <tr>
        <td class="header_table center" width="100">
          <p>ประมาณ</p>
          <p>การราย</p>
          <p>ได้เดิม</p>
          <p>(2)</p>
        </td>
        <td class="header_table center" width="50">
          <p>เพิ่ม</p>
          <p>เติม</p>
          <p>ครั้งที่</p>
        </td>
        <td class="header_table center" width="80" sty>
          <p>เพิ่มเติม</p>
          <p>ครั้งที่2 </p>
          <p>(4)</p>
        </td>
        <td class="header_table center" width="80">
          <p>รวมทั้งสิ้น</p>
          <p>(2)+(3)+(4)(5)</p>
        </td>
        <td class="header_table center" width="80">
          <p>รับจริง</p>
          <p>ไตรมาส 1</p>
          <p>(6)</p>
        </td>
        <td class="header_table center" width="80">
          <p>รับจริง</p>
          <p>ไตรมาส 2</p>
          <p>(6)</p>
        </td>
        <td class="header_table center" width="80">
          <p>รับจริง</p>
          <p>ไตรมาส 3</p>
          <p>(6)</p>
        </td>
        <td class="header_table center" width="80">
          <p>รับจริง</p>
          <p>ไตรมาส 4</p>
          <p>(6)</p>
        </td>
        <td class="header_table center" width="100">
          <p>รายได้</p>
          <p>ค้างรับ</p>
          <p>(10)</p>
        </td>
        <td class="header_table center" width="100">
          <p>รวม</p>
          <p>(11)</p>
        </td>
      </tr>
    </thead>
    <tbody>
      <ng-container formArrayName="data">
        <tr>
          <td colspan="13">
            <div class="flex_row">
                <p>ประมาณการรายได้</p>
                &nbsp;
                <span class="icon" (click)="addform(0)">
                  <i class="fas fa-plus-circle"></i>
                </span>              
            </div>
          </td>
        </tr>
        <ng-container [formGroupName]="index" *ngFor="let firstForm of form['controls']['data']['controls']; let index = index">        
            <tr>
              <td colspan="3">                
                <div style="display: flex;flex-flow: row;justify-content: space-between">                    
                  <p>
                    ({{index + 1}})
                  </p>
                      <ng-template [ngIf]="true">
                        <div style="text-align: right;width: 100%;padding-right: 10px">
                          <input class="input" style="width: 95%" type="text" formControlName="budgetName">
                        </div>
                      </ng-template>
                      <ng-template>
                        {{firstForm.get('budgetName').value}}
                      </ng-template>                      
                    <p style="width: 20%;text-align: right">
                        <span class="icon" (click)="addform(1,firstForm)">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span class="icon has-text-danger" (click)="remove(index)">
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </p>
                </div>                
              </td>
              <td>
                  <input class="input" type="number" formControlName="planAmount">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planAdjust1">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planAdjust2">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planTotal">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ1">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ2">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ3">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ4">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualLeft">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualTotal">
                </td>
            </tr>
            <ng-container formArrayName="parent">                    
            <ng-container [formGroupName]="secondeIndex" *ngFor="let secondeForm of firstForm['controls']['parent']['controls']; let secondeIndex = index">        
            <tr>
              <td colspan="3">
                <div style="display: flex;flex-flow: row;justify-content: space-between">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <p>
                      ({{index + 1}}.{{secondeIndex + 1}})
                    </p>
                    <ng-template [ngIf]="true"> 
                        <div style="text-align: right;width: 100%;padding-right: 10px">                     
                          <input class="input" style="width: 80%;" type="text" formControlName="budgetName">
                        </div>
                      </ng-template>
                      <ng-template>
                        {{secondeForm.get('budgetName').value}}
                      </ng-template>                 
                      <p style="width: 20%;white-space: nowrap;text-align: right">
                          <span class="icon" (click)="addform(2,secondeForm)">
                              <i class="fas fa-plus-circle"></i>
                          </span>              
                          <span class="icon has-text-danger" (click)="remove(secondeIndex,firstForm)">
                              <i class="fas fa-times-circle"></i>
                          </span>              
                      </p>     
                </div>
              </td>
              <td>
                  <input class="input" type="number" formControlName="planAmount">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planAdjust1">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planAdjust2">
                </td>
                <td>
                  <input class="input" type="number" formControlName="planTotal">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ1">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ2">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ3">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualQ4">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualLeft">
                </td>
                <td>
                  <input class="input" type="number" formControlName="actualTotal">
                </td>
            </tr>
            <ng-container formArrayName="parent">
            <ng-container [formGroupName]="thirdIndex" *ngFor="let thirdForm of secondeForm['controls']['parent']['controls'];let thirdIndex = index">
                <tr>
                    <td colspan="3">
                      <div style="display: flex;flex-flow: row;justify-content: space-between">
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          <p>
                          ({{index + 1}}.{{secondeIndex + 1}}.{{thirdIndex + 1}})
                        </p>
                          <ng-template [ngIf]="true">
                              <div style="text-align: right;width: 100%;padding-right: 10px">                     
                                  <input class="input" style="width: 80%;" type="text" formControlName="budgetName">
                                </div>
                            </ng-template>
                            <ng-template>
                              <!-- {{thirdForm.get('budgetName').value}} -->
                            </ng-template>                 
                            <p style="width: 20%;white-space: nowrap;text-align: right">
                                <span class="icon" (click)="addform(3,thirdForm)">
                                    <i class="fas fa-plus-circle"></i>
                                </span>              
                                <span class="icon has-text-danger" (click)="remove(thirdIndex,secondeForm)">
                                    <i class="fas fa-times-circle"></i>
                                </span>              
                            </p>     
                      </div>
                    </td>
                    <td>
                        <input class="input" type="number" formControlName="planAmount">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="planAdjust1">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="planAdjust2">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="planTotal">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualQ1">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualQ2">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualQ3">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualQ4">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualLeft">
                      </td>
                      <td>
                        <input class="input" type="number" formControlName="actualTotal">
                      </td>
                  </tr>
                  <ng-container formArrayName="parent">                  
                  <ng-container [formGroupName]="fourthIndex" *ngFor="let fouthForm of thirdForm['controls']['parent']['controls'];let fourthIndex = index">
                      <tr>
                          <td colspan="3">
                            <div style="display: flex;flex-flow: row;justify-content: space-between">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <p>
                                ({{index + 1}}.{{secondeIndex + 1}}.{{thirdIndex + 1}}.{{fourthIndex + 1}})
                              </p>
                                <ng-template [ngIf]="true">
                                    <div style="text-align: right;width: 100%;padding-right: 10px">                     
                                        <input class="input" style="width: 80%;" type="text" formControlName="budgetName">
                                    </div>
                                  </ng-template>
                                  <ng-template>
                                    <!-- {{thirdForm.get('budgetName').value}} -->
                                  </ng-template>                 
                                  <p style="width: 20%;white-space: nowrap;text-align: right">
                                      <span class="icon has-text-danger" (click)="remove(fourthIndex,thirdForm)">
                                          <i class="fas fa-times-circle"></i>
                                      </span>              
                                  </p>     
                            </div>
                          </td>
                          <td>
                              <input class="input" type="number" formControlName="planAmount">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="planAdjust1">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="planAdjust2">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="planTotal">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualQ1">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualQ2">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualQ3">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualQ4">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualLeft">
                            </td>
                            <td>
                              <input class="input" type="number" formControlName="actualTotal">
                            </td>
                        </tr>
                  </ng-container>
                </ng-container>
                </ng-container>                  
            </ng-container>            
          </ng-container>
          </ng-container>
          </ng-container>
        </ng-container>
    </tbody>
    <!-- <tfoot>
        <tr>
            <td colspan="3" align="center">
              รายได้รวม
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>            
        </tr>
        <tr>
            <td colspan="3" align="center">รวมจ่ายรวม</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" align="center">ผลต่าง</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot> -->
  </table>
</form>
<div style="display: flex;flex-flow: row;justify-content: center;margin: 10px">
    <button class="button" (click)="save()">บันทึก</button>
</div>

<!-- <pre>{{form.getRawValue() | json}}</pre> -->